@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#login-form.exit {
  transform: translateX(-100%);
}

#student-counselor {
  left: 100%;
}

#student-counselor.enter {
  left: 0
} */

.content {
  margin: 20px 0 10px;
}
.content p {
  color: #333;
  font-size: 1rem;
}
.content .requirement-list {
  margin-top: 20px;
}
.requirement-list li {
  font-size: 0.7rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.requirement-list li i {
  width: 20px;
  color: #aaa;
  font-size: 0.6rem;
}
.requirement-list li.valid i {
  font-size: 0.7rem;
  color: #4285F4;
}

.requirement-list li:not(.valid) i {
  font-size: 0.7rem;
  color: #ff2f00;
}

.requirement-list li span {
  margin-left: 12px;
  color: #333;
}
.requirement-list li.valid span {
  color: #999;
}
.error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.invalid .error {
  display: flex;
}
.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}


.content {
  margin: 20px 0 10px;
}
.content p {
  color: #333;
  font-size: 1rem;
}
.content .requirement-list {
  margin-top: 20px;
}
.requirement-list li {
  font-size: 0.7rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.requirement-list li i {
  width: 20px;
  color: #aaa;
  font-size: 0.6rem;
}
.requirement-list li.valid i {
  font-size: 0.7rem;
  color: #4285F4;
}
.requirement-list li span {
  margin-left: 12px;
  color: #333;
}
.requirement-list li.valid span {
  color: #999;
}



.error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.invalid .error {
  display: flex;
}
.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}

@-webkit-keyframes trophy {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes trophy {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fly--up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateY(-20vw);
  }
  100% {
    transform: translateY(-15vw);
    opacity: 0;
  }
}
@keyframes fly--up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateY(-20vw);
  }
  100% {
    transform: translateY(-15vw);
    opacity: 0;
  }
}
@-webkit-keyframes fly--down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateY(20vw);
  }
  100% {
    transform: translateY(15vw);
    opacity: 0;
  }
}
@keyframes fly--down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateY(20vw);
  }
  100% {
    transform: translateY(15vw);
    opacity: 0;
  }
}
@-webkit-keyframes fly--left {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(-35vw);
  }
  100% {
    transform: translateX(-180px);
    opacity: 0;
  }
}
@keyframes fly--left {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(-35vw);
  }
  100% {
    transform: translateX(-180px);
    opacity: 0;
  }
}
@-webkit-keyframes fly--right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(35vw);
  }
  100% {
    transform: translateX(180px);
    opacity: 0;
  }
}
@keyframes fly--right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(35vw);
  }
  100% {
    transform: translateX(180px);
    opacity: 0;
  }
}
@-webkit-keyframes fly--up--left {
  0% {
    transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}
@keyframes fly--up--left {
  0% {
    transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}
@-webkit-keyframes fly--up--right {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(-3vw, -20vw);
    opacity: 0;
  }
}
@keyframes fly--up--right {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(-3vw, -20vw);
    opacity: 0;
  }
}
@-webkit-keyframes fly--down--left {
  0% {
    transform: rotate(45deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}
@keyframes fly--down--left {
  0% {
    transform: rotate(45deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}
@-webkit-keyframes fly--down--right {
  0% {
    transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(0vw, -20vw);
    opacity: 0;
  }
}
@keyframes fly--down--right {
  0% {
    transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(0vw, -20vw);
    opacity: 0;
  }
}



.success-container {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* outline: solid 1px red; */
  transform: translate(0%, -67vh);
  z-index: 1000;
  animation: background 0.5s 1 forwards;
}

@keyframes background {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}



.trophy, .text {
  -webkit-animation: trophy 0.5s 1 forwards;
          animation: trophy 0.5s 1 forwards;

}


.action .confetti--slate, .action .confetti {

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  transform-origin: center middle;
  opacity: 0;
}
.action .confetti {
  top: 0;
  left: calc(50% - 5px);
  background-color: #FFEA00;
  -webkit-animation-name: fly--up;
          animation-name: fly--up;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.action .confetti.two {
  top: auto;
  bottom: 0;
  -webkit-animation-name: fly--down;
          animation-name: fly--down;
}
.action .confetti.three, .action .confetti.four {
  top: calc(50% - 5px);
  left: calc(50% - 25px);
  height: 10px;
  width: 50px;
  -webkit-animation-name: fly--left;
          animation-name: fly--left;
}
.action .confetti.four {
  -webkit-animation-name: fly--right;
          animation-name: fly--right;
}
.action .confetti--slate {
  background-color: rgb(100 116 139);
  -webkit-animation-name: fly--up--left;
          animation-name: fly--up--left;
  transform: rotate(135deg);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 20%;
  top: 20%;
}
.action .confetti--slate.two {
  -webkit-animation-name: fly--up--right;
          animation-name: fly--up--right;
  left: auto;
  right: 20%;
  transform: rotate(45deg);
}
.action .confetti--slate.three {
  top: auto;
  bottom: 20%;
  transform: rotate(45deg);
  -webkit-animation-name: fly--down--left;
          animation-name: fly--down--left;
}
.action .confetti--slate.four {
  top: auto;
  bottom: 20%;
  left: auto;
  right: 20%;
  transform: rotate(135deg);
  -webkit-animation-name: fly--down--right;
          animation-name: fly--down--right;
}